<div class="frame">
    <div class="throw">{{first}}</div>
    <div class="throw">{{second}}</div>
    {{#if third}}
        <div class="throw">{{third}}</div>
    {{/if}}
    <div class="total">{{total}}</div>
</div>